/* Start Colors */
.rock {
  background-color: #5d5c66;
}
.rock-80 {
  background-color: #4f4e55;
}
.ghost {
  background-color: #70559b;
}
.ghost-80 {
  background-color: #7f60af;
}
.steel {
  background-color: #b7b9d0;
}
.steel-80 {
  background-color: #c0c3e4;
}
.water {
  background-color: #5ba3b7;
}
.water-80 {
  background-color: #6db3c4;
}
.grass {
  background-color: #92d1b4;
}
.grass-80 {
  background-color: #79af9a;
}
.psychic {
  background-color: #fb5584;
}
.psychic-80 {
  background-color: #ff628f;
}
.ice {
  background-color: #9ad6df;
}
.ice-80 {
  background-color: #a7e0e9;
}
.dark {
  background-color: #75574c;
}
.dark-80 {
  background-color: #816358;
}
.fairy {
  background-color: #ad7fae;
}
.fairy-80 {
  background-color: #b5959f;
}
.normal {
  background-color: #aa7c40;
}
.normal-80 {
  background-color: #c89f6a;
}
.fighting {
  background-color: #c12239;
}
.fighting-80 {
  background-color: #d62f48;
}
.flying {
  background-color: #a891ec;
}
.flying-80 {
  background-color: #b19cf0;
}
.poison {
  background-color: #89607f;
}
.poison-80 {
  background-color: #a57f9e;
}
.ground {
  background-color: #e7d05f;
}
.ground-80 {
  background-color: #afa450;
}
.bug {
  background-color: #7dad3f;
}
.bug-80 {
  background-color: #91c949;
}
.fire {
  background-color: #ef8a7e;
}
.fire-80 {
  background-color: #e6796b;
}
.electric {
  background-color: #c7af57;
}
.electric-80 {
  background-color: #d3ba61;
}
.dragon {
  background-color: #d19f64;
}
.dragon-80 {
  background-color: #f2b46c;
}

/* End Colors */

/* Pokedex */
.pokedex {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    324deg,
    rgba(255, 255, 255, 1) 10%,
    rgba(243, 67, 61, 1) 100%
  );
}

.pokeball-background {
  position: fixed;
  top: 50px;
  right: 50px;
  filter: opacity(0.2);
  transform: scale(1.4) rotate(45deg);
}

.user-form {
  background-image: url(./assets/images/background-pokemon.png),
    linear-gradient(324deg, #ffffff 10%, rgba(243, 67, 61, 1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 65% center;
  background-color: rgb(255, 255, 255);
}

.pokemon-container {
  min-height: 500px;
  grid-template-columns: repeat(auto-fit, minmax(190px, 210px));
}

@media screen and (min-width: 768px) {
  .pokemon-container {
    grid-template-columns: repeat(auto-fit, minmax(240px, 290px));
  }
}

.pokemon-image {
  background-image: url(./assets/images/pokeball-white.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
